@model IEnumerable<Category>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<div>
    @Html.ActionLink("Add Category", "Create", new { }, new { @class = "btn btn-success" })
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Categories List
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @*@Html.ActionLink("", "Edit", new { id = item.CategoryID }, new { @class = "glyphicon glyphicon-edit" })
                        @Html.ActionLink("", "Delete", new { id = item.CategoryID }, new { @class = "glyphicon glyphicon-remove" })*@
                        <a asp-action="Edit" asp-route-id="@item.CategoryID" class="glyphicon glyphicon-edit" title="Edit the category"></a>
                        <a asp-action="Delete" asp-route-id="@item.CategoryID" class="glyphicon glyphicon-remove" title="Delete the category"></a>

                        @*@Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
